<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzas index</title>

    <th:block th:replace="~{fragments/head :: head}">
    </th:block>
</head>

<body>


    <main class="container">
        <section class="upper row">
            <div class="col-12">
                <h1 class="card-title mb-4 p-4 text-center fw-bold">
                    Pizza Management System
                </h1>
                <div class="buttons mb-3 d-flex px-4">
                    <a th:href="@{/pizzas/create}" class="btn btn-primary ms-auto me-5 disabled">Create a new pizza</a>
                </div>
            </div>
        </section>

        <section class="row books">
            <div class="col-12">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Price</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="singlePizza : ${pizzas}" th:object="${singlePizza}">
                            <td th:text="*{id}" />
                            <td th:text="*{name}" />
                            <td th:text="*{description}" />
                            <td th:text="|*{price},00|" />
                            <td>
                                <a th:href="@{/pizzas/{id}(id=*{id})}" class="btn btn-primary btn-sm">Show</a>
                                <a th:href="@{/pizzas/{id}(id=*{id})}" class="btn btn-success btn-sm disabled">Edit</a>
                                <a th:href="@{/pizzas/{id}(id=*{id})}" class="btn btn-warning btn-sm disabled">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

    </main>
    
    <th:block th:replace="~{fragments/footer :: scripts}">
</body>

</html>